
$red: #C32032;
$beige: #B69069;
$twitter: #00ACEE;
$brown: #382B20;
$bg_red: #7d1916;
$center_red: #8f1e1b;
$bg_beige: #382c20;
$yellow: #FFC862;
$step_red: #63110f;
$step_red_center: #7c1820;

$side_beige: #d5b99e;
$center_beige: #f1e9de;

$font_gray: #A09994;
$font_brown: #603813;