.note {
    background: linear-gradient(to right,$side_beige,$center_beige 40%,$center_beige 60%, $side_beige);
    padding: 50px 20px 20px;
    h2 {
        text-align: center;
        margin-bottom: 20px;
        font-size: 1.3rem;
        color: $brown;
        letter-spacing: 5px;
        font-weight: normal;
    }
    &__scroll {
        max-width: 600PX;
        margin: 0 auto;
        padding: 20px;
        height: 400px;
        background: #fff;
        overflow-y: scroll;
        pre {
            font-family: Noto Sans JP, sans-serif;
            white-space: pre-wrap ;
            line-height: 1.7;
        }
    }
    &__gotop {
        text-align: center;
        margin: 100px 0 30px;
        a {
            position: relative;
            color: $brown;
            font-size: 1.2rem;
            @include md {
                font-size: 1.6rem;
            }
            &::before {
                display: block;
                content: "";
                position: absolute;
                top: -30px;
                left: calc(50% - 10px);
                width: 20px;
                height: 20px;
                border-top: 2px solid $brown;
                border-right: 2px solid $brown;
                transform: rotate(-45deg);
            }
        }

    }
}