.select {
    max-width: 600px;
    margin: 0 auto;
    &__inner {
        background: url(../images/select_deco.png);
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: center top;
    }
    &__title {
        position: relative;
        z-index: 3;
        text-align: center;
        >img {
            max-width: 80%;
        }
    }
    &__block {
        width: 100%;
        display: flex;
        flex-direction: column;
        // margin: 200px auto 0;
        @include md {
            // flex-wrap: wrap;
            // margin: 50% auto 0;
        }
    }
    &__wrap {
        width: 90%;
        margin: 0 auto 10px;
    }
    &__item {
        width: 100%;
        background-color: #fff;
        display: flex;
        &-img {
            width: 40%;
        }
        &-txt {
            width: 60%;
            padding: 15px 0;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            p {
                color: $font_gray;
                margin-top: 10px;
                margin-right: 10px;
                line-height: 1.2;
                font-family: Noto Sans JP, sans-serif;
                font-size: 0.95rem;
                @include md {
                    margin-top: 20px;
                }
            }
            @include md {
                padding: 20px 0;
            }
        }
        &-btn {
            width: 100%;
            margin-top: 10px;
            padding-right: 5px;
            display: flex;
            button {
                width: 100%;
                margin: 0 3px;
                outline: none;
                border: none;
                cursor: pointer;
                box-shadow: 2px 2px 6px $font_gray;
                @include md {
                    margin: 0 10px;
                }
            }
        }
        &-secret,&-tweet {
            position: relative;
            transition: all .3s;
            height: auto;
            opacity: 1;
            font-family: Noto Sans JP, sans-serif;
            p {
                line-height: 1.5;
            }
            &::before {
                position: absolute;
                top: -5px;
                display: block;
                content: "";
                width: 10px;
                height: 10px;
                background: inherit;
                transform: rotate(45deg);
                @include md {
                    top: -10.5px;
                    width: 20px;
                    height: 20px;
                }
            }
            &.hide {
                height: 0;
                opacity: 0;
                padding: 0;
                margin: 0;
                a,p {
                    display: none;
                }
            }
        }
        &-secret {
            background: $beige;
            color: #fff;
            padding: 15px 10px;
            &::before {
                left: 52%;
            }
            p {
                font-size: 0.9rem;
                @include md {
                    font-size: 1rem;
                }
            }
        }
        &-tweet {
            background: $red;
            padding: 15px 5px;
            color: #fff;
            &::before {
                left: 80%;
                @include md {
                    left: 81%;
                }
            }
            p {
                text-align: center;
                font-size: 0.75rem;
                @include md {
                    font-size: 1rem;
                }
            }
            &-btnblock {
                display: flex;
                align-items: center;
                justify-content: center;
                span {
                    &::after {
                        display: block;
                        content: "";
                        width: 10px;
                        height: 10px;
                        border-top: 2px solid #fff;
                        border-right: 2px solid #fff;
                        transform: rotate(45deg) translateX(-5px);
                    }
                }
                a {
                    img {
                        max-width: 100%;
                    }
                }
            }
        }
    }
}